@model GroupProject.Models.FlightInfo

@{
    ViewBag.Title = "CancelFLight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CancelFLight</h2>

<h3>Are you sure you want to cancel your flight?</h3>
<div>
    <h4>FlightInfo</h4>
    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Cancel FLight" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
