@model GroupProject.Models.PassengerInfo

@{
    ViewBag.Title = "CancelFlight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CancelFlight</h2>


<h3>Are you sure you want to cancel your flight?</h3>
<div>

    <hr />
    <h4>
       If yes, please enter your ticket number.
    </h4>
    <div class="form-group">
        @Html.LabelFor(model => model.TicketNum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TicketNum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TicketNum, "", new { @class = "text-danger" })
        </div>
    </div>

    @using (Html.BeginForm())
    {@Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Cancel Flight" class="btn btn-default" />

    </div>
    <h5></h5>
    <div>
        <input type="button" value="Return to Your Tickets" onclick="location.href='@Url.Action("MyTickets", "MyTickets")'"
    </div>
}
</div>
