
@{
     ViewBag.Title = "FlightSelection";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello from the Flight Selection page!!!</h2>

<input type="button" value="Next" onclick="location.href='@Url.Action("Create", "PassengerInfoes")'" />