@{
    ViewBag.Title = "About";
}
<h2> About Breezy Airlines</h2>


<p> Breezy Airlines is a small airline company with flights to major cities in the area.
    The user can use this website to look-up, book, and pay for a flight.  
</p>
