
@{
    ViewBag.Title = "SeatSelection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SeatSelection</h2>

<body>
    <img src="http://www.airwar.ru/image/idop/aliner/erj145/erj145-2.gif" alt="airwar.ru" style="width:300x;height:200px;">

</body>

